/logs
/dataset/ProcessDataFromRaw
/dataset/LDC_schema_corpus_ce_split
/dataset/processedData
/algorithm.md
/visualize
/result/layered_evaluation
/result/unified_evaluation
/result/model1
/result/model2
/result/cache/failed_text.json
/result/cache/sampling_result.json
/content.md